// Text Utilities




// Dependencies:
//   Settings.Default
//   Settings.Breakpoint




// Options

$iota-text                  : true;
$iota-text--res             : false !default;
$iota-text-left-namespace   : 'text-left' !default;
$iota-text-right-namespace  : 'text-right' !default;
$iota-text-center-namespace : 'text-center' !default;




.#{$iota-utility-namespace}#{$iota-text-left-namespace} {
  text-align: left !important;
}

.#{$iota-utility-namespace}#{$iota-text-right-namespace} {
  text-align: right !important;
}

.#{$iota-utility-namespace}#{$iota-text-center-namespace} {
  text-align: center !important;
}




// Responsive Text Utilities

@if ($iota-text--res == true) {

  @each $name, $size in $iota-breakpoint-sizes {

    @media #{$size} {
    
      .#{$iota-utility-namespace}#{$iota-text-left-namespace}\@#{$name} {
        text-align: left !important;
      }

      .#{$iota-utility-namespace}#{$iota-text-right-namespace}\@#{$name} {
        text-align: right !important;
      }

      .#{$iota-utility-namespace}#{$iota-text-center-namespace}\@#{$name} {
        text-align: center !important;
      }

    }

  }
  
}
